@media all and (max-width:900px){
    .filter_container{
        width: 60%;
        .filter{
            width: 100%;
            font-size: 1.2rem;
        }
        i{
            font-size: 2rem;
        }
    }

    .item_container::after{
        width: 0;
        height: 0;
    }
    .item_container::before{
        width: 0;
        height: 0;
    }
    .container{
        grid-template-columns: repeat(4,21%);
        .item_container{
            a{
                font-size: 0.9rem;
            }
            h2{
                font-size: 1rem;
            }
            h3{
                font-size: 0.9rem
            }
        }
    }
    header{
        h1{
            left: 6%;
            font-size: 2rem;
        }
    }
}